@font-face {
  font-family: 'exo';
  src: url("Fonts/exo-regular-webfont.woff2") format("woff2"), url("Fonts/exo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'vollkorn';
  src: url("Fonts/vollkorn-semibold-webfont.woff2") format("woff2"), url("Fonts/vollkorn-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body,
.navbar-default,
.navbar-brand{
	background-color: #000;
	color: #eac67a;
	font-family: "exo";

}
.navbar-default,
.navbar-brand{
	font-size: 1.1em;
	background-color: rgba(0,0,0,0);
}
.jumbotron{
	background-image: url("../grafik/city_ljus.jpg");
	background-size: 100%;
	background-position: center center;
}
.jumbotron p{
	font-size: 0.9em;
}
.jumbotron h1{
	font-size: 3em;
}
.jumbotron h1,
.jumbotron .row div p,
.jumbotron .row div p{
	background-color: rgba(0,0,0,0.5);
	margin-top: 1.2em;
}
.btn-primary{
	background-color: #984B43;
  	color: #eac67a;
  	font-size: 1.4em;
  	border: none;
  	border-radius: 30%;
  	padding: 0.5em;
}
h1,
h2,
h3,
h4{
	font-family: "vollkorn";
	font-weight: 700;
		
}
h1{
	font-size: 1.5em;
}
a,
p{
	color: #eac67a;
}
label{
	font-weight: 500;
}
a:hover{
	color: #984B43;
	text-decoration: none;
}