/* imprting UnBox fonts*/
@font-face {
  font-family: 'exo';
  src: url("../Fonts/exo-regular-webfont.woff2") format("woff2"), url("../Fonts/exo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'vollkorn';
  src: url("../Fonts/vollkorn-semibold-webfont.woff2") format("woff2"), url("../Fonts/vollkorn-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* Variables for fonts with fallback*/
/* UnBox colors*/
body {
  background-color: #000; }

h1,
h2,
h3,
h4 {
  color: #eac67a;
  font-family: "vollkorn", sans-serif; }

h1 {
  font-weight: 700; }

h2 {
  font-size: 1.8em;
  margin-top: 0;
  margin-bottom: 1em; }

h3 {
  font-size: 1.2em; }

a,
p,
label {
  color: #eac67a;
  font-family: "exo", sans-serif;
  /* margin: 1em 0 1em 0;*/ }

a:hover {
  color: #984B43;
  text-decoration: none; }

label {
  font-weight: 500; }

.container {
  padding: 0; }

.navbar-fixed-top {
  background-color: rgba(35, 50, 55, 0.4); }

.navbar-default {
  background-color: transparent; }
  .navbar-default img {
    float: left;
    clear: both;
    width: 15%; }

.nav-justified li {
  width: initial;
  float: left;
  list-style: none;
  margin-left: 2.5em;
  margin-top: 0.7em;
  margin-bottom: 0.2em; }
  .nav-justified li a {
    margin: 0.5em;
    font-size: 0.8em; }

.jumbotron {
  background-image: url("../Grafik/city_ljus.jpg");
  background-size: 100%;
  background-position: center center;
  padding: 0; }
  .jumbotron h1 {
    background-color: rgba(35, 50, 55, 0.4);
    color: #eac67a;
    margin-top: 2.2em;
    margin-bottom: 0;
    font-size: 1.4em;
    padding: 0.8em;
    font-weight: 700; }
  .jumbotron .row div p {
    font-size: 0.7em;
    background-color: rgba(35, 50, 55, 0.4);
    margin-top: 1.2em;
    padding: 1em; }

.projects {
  background-color: rgba(35, 50, 55, 0.4);
  margin-bottom: 1em; }
  .projects h3,
  .projects h4 {
    font-size: 0.9em;
    margin: 0; }
  .projects div p {
    font-size: 0.8em;
    margin: 0;
    text-align: left;
    margin-left: 1.2em; }
  .projects picture img:hover {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform: scale(2);
    transform: scale(2); }

.clients picture img {
  padding: 2em; }
  .clients picture img:hover {
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
    -webkit-transform: rotate(360deg) scale(2);
    transform: rotate(360deg) scale(2); }

.about {
  background-color: rgba(35, 50, 55, 0.4); }

.contact {
  background-color: rgba(35, 50, 55, 0.4);
  padding: 2em; }

.contact-info {
  font-size: 1.5em; }

.form-control {
  font-family: "exo", sans-serif; }

.btn-primary {
  background-color: #984B43;
  color: #eac67a;
  font-family: "exo", sans-serif;
  font-size: 1.4em;
  border: none;
  border-radius: 30%;
  padding: 0.5em; }

.btn-primary:hover {
  background-color: #233237; }

footer {
  background-color: #18121e;
  margin: 0; }

.foot li {
  margin: 0;
  padding-bottom: 0.5em; }
  .foot li a {
    padding: 0.5em;
    margin: 0;
    font-size: 0.6em; }

@media (min-width: 427px) and (max-width: 768px) {
  .navbar-default img {
    width: 12.5%; }

  .navbar-fixed-top {
    font-size: 1.3em; }

  .nav-justified li {
    width: 1%;
    float: none; }
    .nav-justified li a {
      margin-left: 2.5em; }

  .jumbotron h1 {
    font-size: 2.8em; }
  .jumbotron .row div {
    margin-top: 0.8em;
    margin-bottom: 0.8em; }
    .jumbotron .row div p {
      font-size: 1.1em;
      margin: 0; }

  .projects h3,
  .projects h4 {
    margin: 0;
    font-size: 1.2em; }
  .projects div p {
    font-size: 1.1em;
    text-align: left;
    margin-left: 4em;
    margin-right: 2em; }

  .contact-info {
    font-size: 1.2em; }
    .contact-info p {
      padding: 0.2em; }

  .foot {
    padding-top: 1em; }
    .foot li a {
      font-size: 1em;
      margin-left: 0; } }
@media (min-width: 769px) {
  .navbar-default img {
    width: 10%; }

  .navbar-fixed-top {
    padding-top: 1em;
    padding-bottom: 0.4em; }
    .navbar-fixed-top li a {
      margin-left: 5em;
      font-size: 1.5em; }

  .nav-justified li {
    width: 1%;
    float: none; }

  .jumbotron h1 {
    font-size: 3.8em;
    padding: 1em;
    margin-top: 2.5em; }
  .jumbotron .row div p {
    font-size: 1.2em;
    margin-top: 1.2em;
    padding: 1em; }

  h2 {
    font-size: 3em; }

  .projects h3,
  .projects h4 {
    margin-top: 0.5em;
    font-size: 1.3em; }
  .projects div p {
    font-size: 1.1em;
    text-align: left;
    margin-left: 4em;
    margin-right: 2em; }

  .clients h3 {
    font-size: 1.6em; }

  .about div {
    font-size: 1.2em; }

  .foot {
    padding: 0.7em; }
    .foot li a {
      font-size: 1.2em;
      margin-left: 4em; } }

/*# sourceMappingURL=main.css.map */
