// imprting UnBox fonts
@font-face {
    font-family: 'exo';
    src: url('../Fonts/exo-regular-webfont.woff2') format('woff2'),
         url('../Fonts/exo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'vollkorn';
    src: url('../Fonts/vollkorn-semibold-webfont.woff2') format('woff2'),
         url('../Fonts/vollkorn-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Variables for fonts with fallback
$ub-body-font: "exo", sans-serif;
$ub-heading-font: "vollkorn", sans-serif;

// UnBox colors
$ub-body-bg: #000;
$ub-font-color: #eac67a;
$ub-red: #984B43;
$ub-grey-opacity: rgba(35,50,55,0.4);
$ub-darkgreen: #233237;
$ub-blue: #18121e;

body{
	background-color: $ub-body-bg;
}

h1,
h2,
h3,
h4{
	color: $ub-font-color;
	font-family: $ub-heading-font;
}
h1{
	font-weight: 700;
}
h2{
	font-size: 1.8em;
	margin-top: 0;
	margin-bottom: 1em;
}
h3{
	font-size: 1.2em;
}

a,
p,
label{
	color: $ub-font-color;
	font-family: $ub-body-font;
	// margin: 1em 0 1em 0;
}

a:hover{
	color: $ub-red;
	text-decoration: none;
}

label{
	font-weight:500;
}

.container{
	padding: 0;
}
.navbar-fixed-top{
	background-color: $ub-grey-opacity;

}
.navbar-default{
	background-color: transparent;
	img{
		float: left;
		clear: both;
		width: 15%;
	}
}

.nav-justified{
	li{
		width: initial;
		float:left;
		list-style: none;
		margin-left: 2.5em;	
		margin-top: 0.7em;
		margin-bottom: 0.2em;
		a{
			margin: 0.5em;
			font-size: 0.8em;
		}
	}
}

.jumbotron{
	background-image: url("../Grafik/city_ljus.jpg");
	background-size: 100%;
	background-position: center center;
	padding: 0;
	h1{
		background-color: $ub-grey-opacity;
		color: $ub-font-color;
		margin-top: 2.2em;
		margin-bottom: 0;
		font-size: 1.4em;
		padding: 0.8em;
		font-weight: 700;
	}
 	.row{
		div{
			p{
				font-size: 0.7em;
				background-color: $ub-grey-opacity;
				margin-top: 1.2em;
				padding: 1em;
			}
		}
	}
}

.projects{
	background-color: $ub-grey-opacity;
	margin-bottom: 1em;
	h3,
	h4{
		font-size: 0.9em;
		margin: 0;
	}
	div{
		p{
			font-size: 0.8em;
			margin: 0;
			text-align:left;
			margin-left: 1.2em;
		}
	}
	picture{
		img:hover{
			-webkit-transition: all 1s ease;
  			transition: all 1s ease;
  			-webkit-transform: scale(2);
  			transform: scale(2);
		}
	}
}

.clients{
	picture{
		img{
			padding: 2em;
			&:hover{
				-webkit-transition: all 1.5s ease;
    			transition: all 1.5s ease;
    			-webkit-transform: rotate(360deg) scale(2);
    			transform: rotate(360deg) scale(2);
			}
		}
	}
}

.about{
	background-color: $ub-grey-opacity;
}
.contact{
	background-color: $ub-grey-opacity;
	padding: 2em;
}
.contact-info{
	font-size: 1.5em;
}
.form-control{
	font-family:$ub-body-font;
}
.btn-primary{
	background-color: $ub-red;
  	color: $ub-font-color;
  	font-family: $ub-body-font;
  	font-size: 1.4em;
  	border: none;
  	border-radius: 30%;
  	padding: 0.5em;
}
.btn-primary:hover{
	background-color: $ub-darkgreen;
}
footer{
	background-color: $ub-blue;
	padding-top:0.4em;
	padding-bottom:1.4em;
	margin: 0;
}
	.foot{
		li{
			margin: 0;
			padding-bottom: 0.5em;
			a{
				padding: 0.5em;
				margin: 0;
				font-size: 0.6em;
			}
		}
	}


@media (min-width: 427px) and (max-width: 768px){
	.navbar-default img{
		width: 12.5%;
	}
	.navbar-fixed-top{
		font-size: 1.3em;
		li{
			margin-left: 8em;
		}
	}
	.jumbotron{
		h1{
			font-size: 2.8em;
		}
		.row{
			div{
				margin-top: 0.8em;
				margin-bottom: 0.8em;
				p{
					font-size: 1.1em;
					margin: 0;
				}
			}
		}		
	}
	.projects {
		h3,
		h4{
			margin:0;
			font-size: 1.2em;
		}
		div{
			p{
				font-size: 1.1em;
				text-align: left;
				margin-left: 4em;
				margin-right: 2em;
			}
		}
	}
	.contact-info{
		font-size: 1.2em;
		p{
			padding: 0.2em;
		}
	}
	
	.foot{
		padding: 1em;
		li{
			a{
				font-size: 1em;
				margin-left: 2.5em;
			}
		}
	}
}

@media (min-width: 769px){
	.navbar-default img{
		width: 10%;
	}
	.navbar-fixed-top{
		padding-top: 1em;
		padding-bottom: 0.4em;
		li{
			a{
				margin-left: 5em;
				font-size: 1.5em;
			}
		}
	}
	.jumbotron{ 
		h1{
			font-size: 3.8em;
			padding: 1em;
			margin-top: 2.5em;
		}
		.row{
			div{
				p{
					font-size: 1.2em;
					margin-top: 1.2em;
					padding: 1em;
				}
			}
		}
	}
	h2{
		font-size: 3em;
	}
	.projects {
		h3,
		h4{
			margin-top:0.5em;;
			font-size: 1.3em;
		}
		div{
			p{
				font-size: 1.1em;
				text-align: left;
				margin-left: 4em;
				margin-right: 2em;
			}
		}
	}
	.clients{
		h3{
			font-size: 1.6em;
		}
	}
	.about{
		div{
			font-size: 1.2em;
		}
	}
	.foot{
		padding: 0.7em;
		li{
			a{
				font-size: 1.2em;
				margin-left: 4em;
			}
		}
	}
}

